@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  overflow-x: hidden;
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hidden {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
  }
}

@keyframes shimmer {
  0% {
    background-position: -500px 0;
  }
  100% {
    background-position: 500px 0;
  }
}

.shimmer {
  background: linear-gradient(
    to right,
    #1f1f1f 0%,
    #2a2a2a 20%,
    #1f1f1f 40%,
    #1f1f1f 100%
  );
  background-size: 1000px 100%;
  animation: shimmer 1.6s infinite linear;
}
