@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for Chrome, Safari, Edge */
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

/* Hide scrollbar for Firefox */
* {
  scrollbar-width: none;
}

/* Hide scrollbar for IE/Old Edge */
* {
  -ms-overflow-style: none;
}

@keyframes shimmer {
  0% {
    background-position: -500px 0;
  }
  100% {
    background-position: 500px 0;
  }
}

.shimmer {
  background: linear-gradient(
    to right,
    #1f1f1f 0%,
    #2a2a2a 20%,
    #1f1f1f 40%,
    #1f1f1f 100%
  );
  background-size: 1000px 100%;
  animation: shimmer 1.6s infinite linear;
}
